__pycache__/
*.pyc
.env
instance/
*.db
.expo/
node_modules/
dist/
.npm
package-lock.json
yarn-error.log
.idea/
.vscode/
FraudDetectionMobile/
AI-Based Fraud Detection in Banking Transactions.doc
static/
templates/
data/